@font-face {
  font-family: 'Borna';
  src: url('../Assets/borna-regular-webfont.ttf') format('truetype');
  font-weight: normal;  
  font-style: normal;
}

.vid {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.navbar {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.navbar a {
  display: inline-block;
  margin: 15px;
  font-family: 'Borna';
}
.fath .container .navbar a:hover {
  color: #F24200;
}

.fath .container .navbar .btn:hover {
  background-color: #F24200;
}

.mobile-menu-icon{
  display: none;
}
.mobile-menu{
  display: none;
}

header .container .navbar .logo img {
  width: 136px;
  height: 86px;
  flex-shrink: 0;

}

header .container .navbar nav .btn {
  border: 1px solid var(--IMPACT-ORANGE, #F24200);
  color: #fff;
  background: transparent;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-family: 'Borna';

}

header .container .navbar nav a img {
  position: relative;
  bottom: -3px;
  margin-right: 2px;
  margin-left: 10px;
}

header .container .navbar nav .btn2 {
  background: var(--IMPACT-ORANGE, #F24200);
  border: 1px solid var(--IMPACT-ORANGE, #F24200);
  color: var(--OFF-WHITE, #FFF);
  padding: 8px 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-left: 26px;
  font-family: 'Borna';
  cursor: pointer;
}

header .container .navbar nav a {
  color: var(--OFF-WHITE, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Borna';
}

header .container .navbar nav .help {
  color: var(--IMPACT-ORANGE, #F24200);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Borna';
  cursor: pointer;
}

header .container .navbar nav .help img {
  width: 18px;
  flex-shrink: 0;
}


header .container div .btn3 {
  background: var(--IMPACT-ORANGE, #F24200);
  border: 1px solid var(--IMPACT-ORANGE, #F24200);
  color: var(--OFF-WHITE, #FFF);
  padding: 8px 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-left: 26px;
  font-family: 'Borna';
  cursor: pointer;
  margin-top: 5rem;

}

header .container div a {
  color: var(--IMPACT-ORANGE, #F24200);
  font-size: 16px;
}

header .container .hero h2 {
  margin-left: 26px;
  margin-top: 10rem;
}

header .container .hero a img {
  position: relative;
  bottom: -3px;
  margin-right: 2px;
  margin-left: 10px;
}

header .container .hero .vendas {
  margin-left: 23px;

}

header .container .s-hero {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 2rem;
}

header .container .s-hero h6 {
  margin-right: 6rem;
  margin-top: 21.2rem;
}

section {
  height: 85vh;
  background: var(--ALL-BLACK, #101010);
  width: 100%;
  margin-top: 20rem;
}

section .center{
  margin-top: -5rem;
}

section .container .mid h2 {
  color: var(--IMPACT-ORANGE, #F24200);
  margin-left: 26px;
  margin-top: -5.5rem;
}

.container .mid {
  margin-top: 13.5rem;
}


.container .center .mid a {
  display: flex;
  margin-top: 3.7rem;
}

section .container .center {
  display: flex;
  justify-content: space-between;
  position: relative;

}

#slide-features {
  display: block;
}

#slide-about {
  display: block;
}

.slide-dots {
  height: 5vh;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  margin-top: -11rem;
  position: relative;
}

#slide-features-dot::before {
  background: var(--IMPACT-ORANGE, #F24200);
}

#slide-about-dot::before {
  background: var(--IMPACT-ORANGE, #F24200);
}

.slide-dot {
  height: 15px;
  width: 15px;
  position: relative;
  cursor: pointer;
  
}

.arrows {
  position: relative;
  margin-top: 2.5rem;
  display: flex;
  gap: 15px;
}

.arrow-left {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  color: white;
  height: 30px;
  background: var(--IMPACT-ORANGE, #F24200);
  cursor: pointer;
}

.arrow-right {
  transform: rotate(180deg);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  color: white;
  height: 30px;
  background: var(--IMPACT-ORANGE, #F24200);
  cursor: pointer;
}

.slide-dot::before {
  content: '';
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: var(--OFF-GRAY, #979696);
}

.slide,
.slide2 {
  overflow: hidden;
  display: none;
}

.slide img,
.slide2 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

section .container .center .slideshow-container {
  display: flex;
  margin-left: 26px;
}

.slideshow {
  position: relative;
  margin-top: 4.5rem;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

.complemento {
  width: 100%;
  height: 60vh;
  background: var(--OFF-WHITE, #FFF);
}

.complemento h2 {
  color: var(--OFF-GRAY, #979696);
  text-align: right;
  font-family: 'Borna';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-top: 18rem;
  margin-bottom: 4rem;
}

.banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3.8rem;
}

.banner .banners {
  width: 450px;
  height: 450px;
  flex-shrink: 0;
}
.picture{
  cursor: pointer;
  position: relative;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) ;
}
.picture:after{
  content:"";
  position:absolute;
  opacity:0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: -1;
}

.picture:hover{
  transform:scale(1.10,1.10);
}

.picture:hover::after{
  opacity:1;
}
.banner a {
  position: absolute;
  display: flex;
  margin-left: 27px;
  margin-top: -26rem;
}

.complemento .banner p {
  position: relative;
  margin-top: -9rem;
  margin-left: 27px;
  color: var(--OFF-WHITE, #FFF);
  font-family: 'Borna';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.complemento .banner h6 {
  position: relative;
  margin-top: 2rem;
  margin-left: 27px;
  color: var(--OFF-WHITE, #FFF);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 16px;
  border: 1px solid var(--OFF-WHITE, #FFF);
  display: inline-flex;
  padding: 6px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.complemento .banner .line {
  margin: 2px;
}

.accordion {
  width: 620px;
}

.accordion li {
  margin-top: 1.5rem;
  margin-left: 1.2rem;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  color: var(--OFF-GRAY, #979696);
}

.accordion .content {
  color: var(--OFF-WHITE, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

label::before {
  color: var(--IMPACT-ORANGE, #F24200);
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="checkbox"] {
  display: none;
}

.accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion #accordion-about .content {
  max-height: 400px;
  padding: 10px 10px 20px;

}

.accordion #accordion-about label::before {
  content: '-';
  color: var(--IMPACT-ORANGE, #F24200);
}

.solo {
  color: var(--OFF-GRAY, #979696);
  font-family: 'Borna';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.infinite ul {
  display: flex;
  list-style: none;
  animation: moveSlideshow 15s linear infinite;
  white-space: nowrap;
  gap: 4rem;
}
@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}
.infinite li {
  display: flex;
  width: fit-content;
  
}

.infinite img {
  width: 125px;
  height: 65px;
  flex-shrink: 0;
  margin: 1rem;
}

.infinite {
  flex-direction: column;
  width: 100%;
  margin-bottom: 7rem;
}

.laranja {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  background: #F24200;
}

.laranja .space {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.laranja .space h1 {
  margin-top: 12rem;
  color: #fff;
}

.laranja .space .btn3 {
  background: var(--ALL-BLACK, #101010);
  margin-left: 0;
  cursor: pointer;
  

}

.laranja .space .vendas {
  color: var(--ALL-BLACK, #101010);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;
  cursor: pointer;
 
}

.laranja .space a img {
  position: relative;
  bottom: -3px;
  margin-right: 2px;
  margin-left: 10px;
}

.laranja .space .s-right {
  position: relative;
  margin-right: 1.5rem;
  margin-top: 7rem;
}

.laranja .space h3 {
  color: var(--ALL-BLACK, #fff);
  font-family: 'Borna';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  margin-top: 5rem;
}

.laranja .space h6 {
  color: var(--OFF-WHITE, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5rem;
}

.laranja .space .lupa {
  position: absolute;
  width: 34%;
  right: 400px;
  top: -32px;
}

.future {
  background-color: #fff;
  width: 100%;
}

.future .container .grid {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.grid {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.future .container .grid .slideshow-container .slideshow {
  position: relative;
  width: 780px;
  height: 590px;
  margin-top: 8rem;
}

.slides {
  overflow: hidden;
}

.slides img {
  object-fit: cover;
  object-position: center;
}

.slides-container {
  display: flex;
  position: relative;
}

.show {
  margin-left: 4rem;
  position: relative;
  margin-top: 5.6rem;

}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

.grid h3 {
  color: #000;
}

.grid h5 {
  margin-top: 2.5rem;
  color: var(--OFF-GRAY, #979696);
  font-family: Inter;
}

.grid a {
  color: var(--IMPACT-ORANGE, #F24200);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grid .teste a img {
  position: relative;
  bottom: -3px;
  margin-right: 2px;
  margin-left: 10px;
}

.teste {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 10rem;
}
.teste .vendas{
  margin-top: -1.5rem;
}
.future .grid .teste .broken{
  display: flex;
}
.teste .slide-dots{
  position: absolute;
  background-color: #FFF;
  margin-left: -4.5rem;
  margin-top: -11rem;
}
.teste .btn3{
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  width: 4.5rem;
  margin-top: 3rem;
  
}
#text{
  color: var(--ALL-BLACK, #101010);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}
.vendas{
  margin-left: 5rem;
  bottom: 0.5rem;
}
 
.nuvem {
  display: flex;

}

.nuvem h2 {
  position: relative;
  color: #000;
  margin-top: 7rem;
  color: var(--OFF-GRAY, #979696);
  font-family: 'Borna';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  top: 10rem;
}

.nuvem img {
  margin-top: 7rem;
  position: absolute;
  margin-left: 20rem;
}
.pai{
  display: flex;
  position: relative;
  margin-top: -5rem;
  justify-content: space-between;
  width: 100%;
  height: 550px;
  flex-shrink: 0;
}
.pai img{
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 25rem;
}
.dual h2{
  color: #000;
  position: absolute;
  margin-top: 15rem;
  margin-left: 5rem;
  color: var(--OFF-GRAY, #979696);
  font-family: 'Borna';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

.opers {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  background: var(--ALL-BLACK, #101010);
  display: flex;
}

.last {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 14rem;
}
.faqs{
  margin-top: -3rem;
}
.faqs h2 {
  margin-top: 3rem;
  font-size: 42px;
}

.faqs .btn3 {
  margin-top: 3rem;
}
.opers .container .last .acordion label:hover {
  color: #F24200;
}
.acordion{
  position: relative;
  margin-top: -5rem;
  margin-left: 10rem;
}
.acordion li{
  list-style: none;
  width: 100%;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  background: #101010;
}
.acordion li label{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: var(--OFF-WHITE, #FFF);

}
.acordion li label::before{
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;

}
input[type="radio"]{
  display: none;
}
.acordion .contente{
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.acordion input[type="radio"]:checked + label + .contente{
  max-height: 400px;
  padding: 10px 10px 20px;
}
.acordion input[type="radio"]:checked + label::before{
  content: '-';
}

.panel p{
  color: var(--OFF-GRAY, #979696);
}

.acordion .icon {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png)
    no-repeat 8px 7px #0A0A0A;
  border-radius: 50%;
  float: left;
  transition: all 0.5s ease-in;

}
.acordion h5 {
  font-size: 22px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: normal;
  color: #f1f1f1;
  font-family: 'Borna';
}

.active {
  background-color: #101010;
  color: #fff;
}

.active .icon {
  background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png)
    no-repeat 8px -25px #F24200;
    color: #fff;
}

.panel {
  padding: 0 15px;
  border-left: 1px solid #101010;
  margin-left: 25px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in;
}


footer {
  background: var(--ALL-BLACK, #101010);
}

footer {
  padding: 100px 0;
}

footer .main-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: solid 1px #979696;
  padding: 4rem 0px
}

footer .main-area .left {
  position: relative;
  margin-left: -4rem;
}

footer .main-area .left p {
  margin-top: 24px;
  color: var(--gray-600);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.48px;
}

footer .main-area .right {
  flex-grow: 1;
  max-width: 792px;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-right: 8rem;
}

footer .main-area .right .item-nav h6 {
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.48px;
  margin-bottom: 27px;
}

footer .main-area .right .item-nav ul li:not(:last-child) {
  margin-bottom: 27px;
}

footer .main-area .right .item-nav ul li a {
  color: var(--OFF-GRAY, #979696);
  font-size: 16px;
  letter-spacing: -0.48px;
  transition: color 0.3s ease;
  display: flex;
  gap: 10px;
}

footer .main-area .right .item-nav ul li a:hover {
  color: #F24200;
}

footer .copy {
  text-align: center;
  color: var(--OFF-WHITE, #FFF);
  letter-spacing: -0.48px;
}