body{
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}

header {
    background: #101010;
}


header .container .hero h2 {
    font-family: Borna;
    margin-top: 1rem;

}
header .container .hero h4 {
    margin-top: 1rem;
    font-family: Borna;
  }
 
  header .container .hero .btn3 {
    margin-top: 1rem;
  }
  header .vendas {
    margin-top: 1.5rem;
    position: relative;
    bottom: 0;
  }
  header .container .s-hero h6 {
    margin-top: 1rem;
    color: var(--OFF-GRAY, #979696);
  }
  .imgsolo{
    width: 600px;
    height: 500px;
  }

  .mapear{
    background: var(--OFF-WHITE, #FFF);
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 15rem;
  }
  .mapear .colunm .btn3{
    margin-top: 2rem;
  }
  .mapear .colunm .vendas{
    margin-top: 1.5rem;
    position: relative;
    bottom: 0;
    margin-left: 1rem;
    color: var(--IMPACT-ORANGE, #F24200);
  }
 .mapear .colunm h2{
    position: relative;
    color: #101010;
    font-family: Borna;
 }

 .mapear .colunm2 h3{
    position: relative;
    color: #101010;
    color: var(--OFF-GRAY, #979696);
    font-family: Borna;
 }
 .mapear .colunm2 h6{
    position: relative;
    color: #101010;
    font-family: Inter;
    margin-top: 1.5rem;
 }
  .setalaranja{
    width: 500px;
    height: 500px;
    margin-top: -9rem;
  }

.teste .slide-dots{
  display: none;
}
.segredos .preto{
  color: var(--ALL-BLACK, #101010);
}
.orangeplus{
  width: 100%;
  flex-shrink: 0;
  background: #F24200;
  position: relative;
}
.orangeplus .container .cacheado{
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.orangeplus .container .cacheado h2{
  color: #101010;
  margin-top: -1rem;
  font-family: Borna;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}
.orangeplus .container .cacheado h5{
  margin-top: 2rem;
 }
.orangeplus .container .cacheado .btn3{
  border: 1px solid var(--IMPACT-ORANGE, #101010);
  background: var(--IMPACT-ORANGE, #101010);
  margin-top: 2rem;
}
.orangeplus .container .cacheado .vendas{
  position: relative;
  bottom: 0;
  margin-left: 1rem;
  color: var(--IMPACT-ORANGE, #101010);
}
.orangeplus .container .cacheado .sorriso2{
  width: 550px;
  height: 600px;
}
.black2{
  background: var(--ALL-BLACK, #101010);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.black2 .center{
  display: flex;
}
.black2 .mid{
  margin-top: 10rem;
}
.black2 .mid h2{
  color: #F24200;
  margin-bottom: 1rem;
}
.black2 .accordion li{
  margin-left: -0.5rem;
  margin-top: 10px;
}
.black2 .slideshow{
  margin-left: 5rem;
  margin-top: 4rem;
}
.black2 .slide img{
  width: 75%;
  height: 75%;
  margin-left: 10rem;
}
.black2 .slide .img0{
  margin-top: 4rem;
}
.black2 .slide .img2{
  width: 60%;
  height: 60%;
}
.black2 .slide .img3{
  width: 50%;
  height: 50%;
}
.black2 .container .center .mid .accordion li label:hover{
  color: #F24200;
}
.black2 label::before {
  color: var(--IMPACT-ORANGE, #F24200);
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}
.slide-dots{
  position: absolute;
  margin-top: 1rem;
  background-color: #101010;
}
.photo{
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;

}
.photo img{
  margin-top: 7rem;
}
.photo .cliente{
  color: var(--IMPACT-ORANGE, #F24200);
  font-family: Borna;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
   opacity: 1;
   margin-top: 8rem;
}
.photo h3{
  color: var(--OFF-GRAY, #979696);
  opacity: 0.4;
  font-family: Borna;
  margin-top: 2.5rem;
  margin-left: 5rem;
}
.photo h6{
  color: var(--OFF-WHITE, #FFF);
  font-family: Inter;
  margin-top: 2.5rem;
  margin-left: 5rem;
}
